.hakyazı {

    font-family: "Rubik", Arial, sans-serif;
    padding-bottom: 900px;
    text-align: center;
    border: 1px solid #32678e;
    margin-bottom: 50px;
    height: 500px;
}
.hakyazı h1{

    font-size: 30px;
    color: #32678e;
}
.hakyazı p{
    font-family: "Rubik", Arial, sans-serif;
    font-size: 16px;
}
.resim{
    margin-bottom: 20px;
}

.bilgi{
    font-family: "Rubik", Arial, sans-serif;
    padding-bottom: 900px;
    text-align: center;
    border: 1px solid #32678e;
    margin-bottom: 50px;
    height: 500px;

}

.Film {
    margin-top: 20px;
    padding-bottom: 1300px; }
.Film h4 {
    text-align: center;
    margin-left: 260px;
    margin-right: 609px;
    background-color: #32678e;
    border-radius: 10px;
    width: 740px;
    height: 40px;
    padding-top: 7px;
    font-size: 27px;
    color: #eeeeee;
}
.Film .künye {
    padding: 25px;
    float: left;
    background: linear-gradient(#32678e,deepskyblue);
    width: 250px;
    height: 895px;
    border-radius: 10px; }
.Film .info {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #1bad83;
    width: 500px;
    height: 500px;
    border-radius: 10px;}
.Film .fragman {
    width: 740px;
    height: 335px;
    background: linear-gradient(#32678e,deepskyblue);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px; }
.Film .fragman iframe {
    margin-left: 90px;
    margin-top: 10px;
    border-radius: 5px; }
.Film .yorumlar .yorum {
    width: 100%;
    height: auto;
    float: left;
    background-color: #32678e;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-left: 0px;
    border-radius: 10px; }
.Film .yorumlar {
    width: 100%;
    height: auto;
    float: left;
    background-color: #32678e;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-left: 0px;
    border-radius: 10px; }


.Film .otoriter {
    background: linear-gradient(to right,#1bad83,deepskyblue);
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 230px;
    height: 500px;
    border-radius: 10px;}
.Film .otoriter p{
    font-size: 16px;
}
.Film .info p{
    font-size: 20px;
}
.Film h6{
    font-family: "Rubik", Arial, sans-serif;
    font-size: 25px;
    margin-top: 7px;
    color: #FFFFFF;
}
.Film .yorumlar .yorum .yorum-yap{
    margin-top: 20px;
    margin-bottom: 30px;
}
.Film .yorumlar .yorum h6{
    margin-left: -700px;
    margin-top: 10px;
}
.Film .yorumlar .yorum div{
   float: left;
}
.Film .yorumlar .yorum .spoilerY{
    margin-left: 30px;
    margin-top: 25px;
}
.Film .yorumlar .yorum .ekle{
    margin-top: 170px;
    background-color: #222222;
}
.Film .yorumlar .yorum .açıklama{
    font-size: 12px;
    margin-top: -185px;
    padding-left: 575px;
    padding-right: 10px;
    text-align: left;
}.Film .comments{
    background-color: #32678e;
     border: 1px solid #32678e;
     height: auto;
    padding-top:15px;
    padding-bottom: 15px;
     margin-top: 10px;
     margin-bottom: 30px;
     float: left;
     width: 1000px;
     border-radius: 10px;
 }
.Film .comments .comment{
    background-color: deepskyblue;
    height: auto;
    float: left;
    padding: 15px;
    width: 980px;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.Film .comments .comment p{
    font: caption;
    font-size: 16px;
}
.Film .comments .spocomment{
    background-color: deepskyblue;
    height: auto;
    float: left;
    padding: 15px;
    width: 980px;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.Film .comments .spocomment p{
    font: caption;
    font-size: 16px;
}
.spocomment .spo{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.spocomment .spo:hover{
    -webkit-filter: blur(0);
    filter: blur(0);
}

.main{
    width: 1020px;
    margin-left: 250px;
    margin-bottom:80px;
    background-color: aliceblue;
    height: 100%;
    border-radius: 5px;
}
.squaredThree {
    width: 20px;
    position: relative;
    margin: 20px auto;
}
.squaredThree label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#45484d));
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.squaredThree label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredThree label:hover::after {
    opacity: 0.3;
}
.squaredThree input[type=checkbox] {
    visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + label:after {
    opacity: 1;
}


